button{
    border: none;
    outline: none;
    cursor: pointer;
    background-color: unset;
}
.m-btn{
    height: 30px;
    border-radius: 3px;
    border:none;
    padding: 6px 16px;
   
    
    background-color: rgb(41, 162, 25);
    color: white;
    cursor: pointer;
    /* padding-left: 15px; */
}
.m-btn .m-btn-add{
    margin-left: 5px;
    background-color: rgb(44, 159, 28);
    color: white;
}
/* ======== btn refresh ======== */
button.m-btn.m-btn-icon.m-btn-refresh{
    background-color: #fff;
    border: none;
    outline: none;
    color: rgb(192, 191, 189);
    min-width: 24px;
    height: 24px;
    padding: 0;
}

/* css cho button xóa với nhân bản */
.data-list-row{
    color: rgb(43, 42, 42);
    position: absolute;
    border: 1px solid rgb(213, 213, 213);
    margin-top: 5px;
    right: 25px;
    width: 140px;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1px 3px;
    z-index: 100;
    display: none;
}
.data-item{
    height: 20px;
    padding: 10px;
    cursor: pointer;
}
.data-item:hover{
    background-color: rgb(232, 233, 237);
    color: rgb(52, 208, 104);
    cursor: pointer;
}